rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /i18n_translations/{docId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
